@model Restaurants

    <form action="../Home/EditRestaurant" method="post">
        <h1>@Model.Name</h1>
        <h4>@Model.ZipCode</h4>
        <br />
        <input type="radio" name="userRating" value="0" />0 Star
        <input type="radio" name="userRating" value="1" />1 Star
        <input type="radio" name="userRating" value="2" />2 Star
        <input type="radio" name="userRating" value="3" required />3 Star
        <input type="radio" name="userRating" value="4" />4 Star
        <input type="radio" name="userRating" value="5" />5 Star
        <br />
        <p>*Anything less than 3 will be removed from favorites*</p>
        <textarea rows="4" cols="40" name="notes" maxlength="350">@Model.Notes</textarea>
        <br />
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="submit" name="submit" value="SUBMIT" class="btn btn-outline-success btn-group-sm"/>
        <a href="../Home/Favorites" class="btn btn-outline-danger btn-group-sm">CANCEL</a>
    </form>