
@{
    ViewData["Title"] = "InviteToGroup";
}

<h1>InviteToGroup</h1>
<p>Input the email address of the user you'd like to invite to your group</p>
<form action="../Group/InviteToGroup" method="post">
    <input type="text" name="Email" placeholder="sample@server.com" />
    <input type="submit"  value="Send Invite" />
</form>