@model List<Groups>
@{
    ViewData["Title"] = "ListGroups";
}

<h1>List Groups</h1>

<table class="table">
    <tr>
        <th>Group Name</th>
        <th>Group Type</th>
    </tr>
    @foreach (Groups g in Model)
    {
<tr>
    <td>@g.Name</td>
    <td>@g.Type</td>
    <td><a href="../Home/GroupList?id=@g.Id" class="btn btn-outline-primary">What's For Dinner</a></td>
    @*<td><a href="../Match/GroupRestLists?gid=@g.Id" class="btn btn-outline-primary">What's For Dinner</a></td>*@
    <td><a href="../Group/InviteToGroup?id=@g.Id" class="btn btn-outline-secondary">Invite Someone</a></td>
    <td><a href="../Group/LeaveGroup?id=@g.Id" class="btn btn-outline-danger">Leave Group</a></td>
</tr>
    }
</table>

<a href="../Group/NewGroup" class="btn btn-dark">Make a New Group</a>